# Client build artifacts
client/build/
client/node_modules/

# Server build artifacts
server/node_modules/
server/dist/

# Environment variables
server/.env
client/.env

# IDE files
.vscode/
.idea/

# Logs
logs/
*.log

# Yarn
yarn-error.log
yarn.lock

# npm
npm-debug.log
*.npm
*.tmp

# Production build
client/build
